<div class="flex min-h-screen items-center justify-center">
    <div class="bg-foreground p-8 rounded-lg shadow-md w-full max-w-md">
        <div class="flex justify-center mb-8">
            <h1 class="text-3xl text-primary text-center font-bold mr-4">Cafe Chat</h1>
            <img src="https://unpkg.com/lucide-static@latest/icons/coffee.svg" />
        </div>

        <div class="space-y-4">
            <a href="/login"
               class="block w-full py-3 px-4 text-center bg-button-primary text-white rounded-md hover:bg-button-secondary">
                Login
            </a>

            <a href="/register"
               class="block w-full py-3 px-4 text-center bg-info text-white rounded-md hover:bg-info-secondary">
                Register
            </a>
        </div>
    </div>
</div>